body {
	background: #333;
}

a, a:hover, a:visited {
	color: white;
}

a:hover {
	text-decoration: underline;
}

a.dark {
	color: blue;
}

.footer {
	background: #999;
	padding: 15px;
	color: black;
}

.public-projects {
	padding: 0 15px;
}

.public-projects td {
	border: none !important;
	color: #ccc;
}

.bold {
	font-weight: bold;
	font-size: 18px;
}

.with-border {
	border-bottom: 1px solid white;
}

.h4 {
	color: blue;
	font-weight: bold;
	background: #ccc;
	padding: 5px;
	border-radius: 5px;
}

.navbar-inverse .navbar-nav>li>a,.navbar-brand,.navbar-text,.navbar-link {
	color: #eee !important;
}

.logo {
	font-size: 36px;
	background: -webkit-linear-gradient(orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 2px 0 rgba(0, 0, 255, 0.3), 1px 1px 1em #ccc;  
    padding: 5px;
    	
}