.slider {
	padding: 15px;
}

.stats {
	background: #999;
	color: black;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.stats>table {
	margin: 0 auto;
}

.stats td:nth-child(even) {
	color: blue;
}

.vert {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.form {
	background: #999;
	color: black;
	padding: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

div>.title {
	background: #525DDA;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid blue;
}

.title {
	font-weight: bold;
	color: white;
}

.arguments {
	color: #60DF64;
	margin: 5px 0;
	font-size: 18px;
}

.push-down {
	margin: 10px 0;
}

.switch-form {
	color: blue;
	float: right;
	cursor: pointer;
}

.error {
	display: none;
	text-align: center;
	background: #333;
	color: white;
	border: 2px solid red;
	border-radius: 5px;
	margin: 2px 0;
}

.us-val,.pr-val {
	padding: 0 10px;
}

.langs {
	padding: 5px;
	border-bottom-left-radius: 5px;
	color: white;
}

.note {
	text-align: center;
}