.single-project {
	margin-bottom: 10px;
	padding: 5px;
	background: #ccc;
	border-radius: 5px;
}

.language {
	margin-top: 10px;
	margin-bottom: 10px;
}

.description {
	text-align: justify;
	padding-top: 5px;
}

.name {
	font-size: 20px;
	color: #333;
}

.name a {
	font-size: 18px;
	color: blue;
	margin-left: 10px;
}

.name i {
	margin-right: 5px;
	font-size: 20px;
	cursor: pointer;
}

.add-info {
	text-align: center;
}

.add-info hr {
	border-top: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.webSite {
	text-align: right;
}

.project-utils {
	padding: 0;
}

.tip {
	background: #DDFFE9;
	padding: 5px;
	border-radius: 5px;
}

.ug {
	background: #ccc;
	padding: 5px;
}

.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	overflow: auto; 
}

.autocomplete-suggestion { 
	padding: 5px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
	font-size:16px
}

.autocomplete-selected { 
	background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
	font-weight: bold; 
	color: #3399FF; 
}

.pr-lang {
	padding: 0;
}

.pr-privacy-lbl {
	padding-left: 15px;
}

.projects-data {
	margin-top: 10px;
	padding: 0;
}

.bugs {
	margin-bottom: 10px;
	border-radius: 5px;
}

.Info {
	color: green;
}

.Minor {
	color: yellow;
}

.Major {
	color: orange;
}

.Critical {
	color: red;
}

.Blocker {
	color: red;
	text-decoration: underline;
	font-size: larger;
}