.bug {
	background: #ccc;
}

.comments {
	margin-top: 5px; 
}

.bug, .comments {
	border-radius: 5px;
}

.title {
	font-size: 20px;
}

.Info {
	color: green;
}

.Minor {
	color: yellow;
}

.Major {
	color: orange;
}

.Critical {
	color: red;
}

.Blocker {
	color: red;
	text-decoration: underline;
	font-size: larger;
}

#cs {
	margin-bottom: 5px;
}

.comments {
	margin-bottom: 5px;
	background: #ccc; 
}

.left {
	margin-bottom: 5px;
}

.photos {
	border: 2px solid #777;
	padding: 5px 15px;
}

.comment-text {
	resize: none;
}